<form [formGroup]="centerForm" (ngSubmit)="submitVideojuego()" novalidate>
  <input type="hidden" formControlName="id" />
  <mat-card class="shipping-card">
    <div class="text-center m-t-20 " style="padding-bottom: 1rem;">
      <h1>{{titleForm}}</h1>
    </div>

    <!--     <mat-card-header>
      <mat-card-title class="or-border m-t-30 "> New Center </mat-card-title>
    </mat-card-header> -->
    <mat-card-content>
      <div class="row">
        <div class="col">
          <!-- NAME -->
          <mat-form-field class="full-width">
            <input matInput #centerName formControlName="name" maxlength="20" placeholder="Name">
            <mat-hint align="end">{{centerName.value.length}} / 20</mat-hint>
            <mat-error *ngIf="errorHandling('name','required')">
              Name es <b>requerido</b>
            </mat-error>
            <mat-error *ngIf="errorHandling('name','minlength')">
              Name is required <b>al least 3 characters</b>
            </mat-error>
          </mat-form-field>

          <!-- province -->
          <mat-form-field class="full-width">
            <input matInput formControlName="province" placeholder="Province">
            <mat-error *ngIf="errorHandling('province','required')">
              Province is <b>required</b>
            </mat-error>
          </mat-form-field>

          <!-- Canton -->
          <mat-form-field class="full-width">
            <input matInput formControlName="canton" placeholder="Canton">
            <mat-error *ngIf="errorHandling('canton','required')">
              Canton is <b>required</b>
            </mat-error>
          </mat-form-field>

          <!-- district -->
          <mat-form-field class="full-width">
            <input matInput formControlName="district" placeholder="District">
            <mat-error *ngIf="errorHandling('district','required')">
              District is <b>required</b>
            </mat-error>
          </mat-form-field>

          <!-- exact_address -->
          <mat-form-field class="full-width">
            <input matInput formControlName="exact_address" placeholder="Exact address">
            <mat-error *ngIf="errorHandling('exact_address','required')">
              Exact address is <b>required</b>
            </mat-error>
          </mat-form-field>

          <!-- phone -->
          <mat-form-field class="full-width">
            <input matInput formControlName="phone" placeholder="Phone">
            <mat-error *ngIf="errorHandling('phone','required')">
              Phone is <b>required</b>
            </mat-error>
          </mat-form-field>

          <!-- operating_hours -->
          <mat-form-field class="full-width">
            <input matInput formControlName="operating_hours" placeholder="Operating hours">
            <mat-error *ngIf="errorHandling('phone','required')">
              Operating hours are <b>required</b>
            </mat-error>
          </mat-form-field>

          <!-- administradores -->
          <mat-form-field class="full-width">
            <mat-select placeholder="Administrator" formControlName="administrator_userID">
              <mat-option *ngFor="let item of administratorList" [value]="item.userID">
                {{item.name}}
              </mat-option>
            </mat-select>

          </mat-form-field>

          <!-- accepted_materials -->
          <mat-form-field class="full-width">
            <mat-select placeholder="Accepted material" formControlName="accepted_materials" multiple>
              <mat-option *ngFor="let item of acceptedMaterialList" [value]="item.materialID">
                {{item.name}}
              </mat-option>
            </mat-select>

          </mat-form-field>

        </div>
      </div>
      <div class="row">
        <div class="col">

        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="container-actions">
        <button mat-raised-button color="primary" (click)="onBack()">Regresar</button>
        <button mat-raised-button color="warn">Reset</button>
        <button mat-raised-button color="accent" type="submit">Guardar</button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>