<mat-card class=" bg-light-primary container-wallet">

  <mat-card class="cardWithShadow " style=" display: flex; justify-content: center; align-items: center; ">
    <mat-card-content>
      <div>
        <h1 style="word-spacing: 5px;" class="text-center">BILLETERA VIRTUAL</h1>
      </div>

      <div style="padding: 1rem;" apperance="">
        <mat-card>
          <div>

          </div>
        </mat-card>

        <div style="display: flex; gap:10%; flex-direction: column;">

          <mat-card class="cardWithShadow material overflow-hidden center-card"
            style="padding-top: 1rem; margin-bottom: 1rem;">
            <mat-card-content class="p-b-24 p-t-12 position-relative">
              <mat-card-title style="min-height: 50px; text-align: center;">Ecomonedas disponibles</mat-card-title>
              <mat-card-title style="min-height: 50px; text-align: center;">🪙{{coinsAvailable}}</mat-card-title>
            </mat-card-content>
          </mat-card>
          <mat-card class="cardWithShadow material overflow-hidden center-card"
            style="padding-top: 1rem; margin-bottom: 1rem;">
            <mat-card-content class="p-b-24 p-t-12 position-relative">
              <mat-card-title style="min-height: 50px; text-align: center;">Ecomonedas canjeadas</mat-card-title>
              <mat-card-title style="min-height: 50px; text-align: center;">🪙{{redeemedCoins}}</mat-card-title>
            </mat-card-content>
          </mat-card>
          <mat-card class="cardWithShadow material overflow-hidden center-card"
            style="padding-top: 1rem; margin-bottom: 1rem;">
            <mat-card-content class="p-b-24 p-t-12 position-relative">
              <mat-card-title style="min-height: 50px; text-align: center;">Ecomonedas recibidas</mat-card-title>
              <mat-card-title style="min-height: 50px; text-align: center;">🪙{{totalCoins}}</mat-card-title>
            </mat-card-content>
          </mat-card>
        </div>
      </div>



      <!-- <div>
        <p class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Ecomonedas canjeadas:
          🪙{{coinsAvailable}} </p>
      </div>
      <div>
        <p class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Ecomonedas recibidas:
          🪙{{coinsAvailable}} </p>
      </div> -->
    </mat-card-content>
  </mat-card>

</mat-card>


<!-- <div class=" bg-light-primary container-wallet">
  <div class="cardWithShadow boxed-auth" style=" display: flex; justify-content: center; align-items: center; ">
    <div>
      <h1 class="text-center">BILLETERA VIRTUAL</h1>
    </div>

    <div>
      <span class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Ecomonedas disponibles: 🪙{{coinsAvailable}} </span>

    </div>
  </div>

</div> -->