<div style="padding: 20px;">
  <form  [formGroup]="passwordForm" (ngSubmit)="changePassword()">
  <div style="display: flex; justify-content: left;">
    <mat-form-field class="p-10" appearance="fill" style="width: 100%;">
      <mat-label>Contraseña anterior:</mat-label>
      <input matInput type="password" formControlName="currentPassword" />
      <mat-error *ngIf="passwordForm.get('currentPassword')?.invalid && passwordForm.get('currentPassword')?.touched">
        La contraseña anterior es requerida.
      </mat-error>
    </mat-form-field>
  </div>
  <div style="display: flex; justify-content: left;">
    <mat-form-field class="p-10" appearance="fill" style="width: 100%;">
      <mat-label>Nueva contraseña:</mat-label>
      <input matInput type="password" formControlName="newPassword" />
      <mat-error *ngIf="passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched">
        La nueva contraseña debe contener al menos 8 caracteres, una mayúscula, una minúscula, un número y un carácter especial.
      </mat-error>
    </mat-form-field>
  </div>
  <div style="display: flex; justify-content: left;">
    <mat-form-field class="p-10" appearance="fill" style="width: 100%;">
      <mat-label>Confirmar contraseña:</mat-label>
      <input matInput type="password" formControlName="confirmNewPassword" />
      <mat-error *ngIf="passwordForm.get('confirmNewPassword')?.invalid && passwordForm.get('confirmNewPassword')?.touched">
        Las contraseñas no coinciden.
      </mat-error>
    </mat-form-field>
  </div>
  <mat-error *ngIf="passwordForm.hasError('passwordMismatch')">
    Las contraseñas no coinciden.
  </mat-error>
  <button style="margin-top: 20px;" mat-raised-button color="primary" type="submit" [disabled]="passwordForm.invalid">Guardar</button>
</form>
</div>
