<footer class="home-footer">
  <section class="home-footer-top">
    <div class="container">
      <div fxlayout="row" fxlayout.lt-md="column" fxlayoutwrap="nowrap"
        style="flex-direction: row; box-sizing: border-box; display: flex;">
        <div fxflex="50" class="footer-box" style="flex: 1 1 100%; box-sizing: border-box; max-width: 50%;">
          <h4 class="footer-box-title">
            <b>About Us</b>
            <mat-divider class="mat-divider-custom"></mat-divider>
          </h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis perferendis rem,
            aut aliquam neque nam? dolor sit amet, consectetur adipisicing elit consectetur adipisicing elit. Officiis
            perferendis rem, aut aliquam.</p>
          <button mat-raised-button="" style="background-color: rgba(120, 117, 21, 0.68);"
            class="mat-focus-indicator mat-raised-button mat-button-base mat-accent" fdprocessedid="korl3g">
            <span class="mat-button-wrapper">Contact Us
            </span>
            <span matripple="" class="mat-ripple mat-button-ripple">
            </span>
            <span class="mat-button-focus-overlay">

            </span>
          </button>
        </div>
        <div fxflex="25" class="footer-box" style="flex: 1 1 100%; box-sizing: border-box; max-width: 25%;">
          <h4 class="footer-box-title">
            <b>Contact</b>
            <mat-divider class="mat-divider-custom"></mat-divider>
          </h4>



          <mat-list class="mat-list mat-list-base" style="padding: 0;">
            <mat-list-item
              class="mat-list-item mat-focus-indicator mat-2-line mat-list-item-avatar mat-list-item-with-avatar">
              <div class="mat-list-item-content" style="display: flex; flex-direction: row; align-items: center; ">
                <mat-icon style="color: white; margin-right: 1rem;" aria-label="Example home icon"
                  fontIcon="email"></mat-icon>
                <div>
                  <h5 style="color: white; margin: 0;"><b>Email:</b></h5>
                  <span style="color: white;"> ejemplo.com</span>
                </div>
              </div>

            </mat-list-item>
            <mat-list-item
              class="mat-list-item mat-focus-indicator mat-2-line mat-list-item-avatar mat-list-item-with-avatar">
              <div class="mat-list-item-content" style="display: flex; flex-direction: row; align-items: center; ">
                <mat-icon style="color: white; margin-right: 1rem;" aria-label="Example home icon"
                  fontIcon="location_on"></mat-icon>
                <div>
                  <h5 style="color: white; margin: 0;"><b>Email:</b></h5>
                  <span style="color: white;"> ejemplo.com</span>
                </div>
              </div>

            </mat-list-item>

          </mat-list>

        </div>
        <div fxflex="25" class="footer-box" style="flex: 1 1 100%; box-sizing: border-box; max-width: 25%;">
          <h4 class="footer-box-title">
            <b>Disclaimer</b>
            <mat-divider class="mat-divider-custom"></mat-divider>
          </h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis perferendis rem,
            aut aliquam neque nam?</p>
          <div class="socials pt-1 ">
            <mat-icon style="margin-right: .5rem;" aria-hidden="false" aria-label="Example home icon"
              fontIcon="linkedin"></mat-icon>
            <mat-icon style="margin-right: .5rem;" aria-hidden="false" aria-label="Example home icon"
              fontIcon="email"></mat-icon>
            <mat-icon style="margin-right: .5rem;" aria-hidden="false" aria-label="Example home icon"
              fontIcon="facebook"></mat-icon>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>