<mat-card class="box header rounded" *ngIf="userLogin">
  <div *ngIf="center; else noCenterData">
    <mat-card-title>
      <h1>
        {{center?.name}}
      </h1>
    </mat-card-title>
    <mat-card-subtitle>
      <h3 class="">
        Administrador: {{center?.User?.name}}
      </h3>
    </mat-card-subtitle>
    <mat-card-subtitle>
      <h3>
        Fecha: {{fecha | date: 'dd/MM/yyyy'}}
      </h3>
    </mat-card-subtitle>
  </div>
  
    <ng-template #noCenterData>
      <mat-card class="users">
      <button mat-menu-item [matMenuTriggerFor]="userMenu" class="btn-users">
        <mat-icon class="d-flex align-items-center">
          <i-tabler name="users" class="icon-18 d-flex"></i-tabler>
        </mat-icon>
        Centros
      </button>
      <mat-menu #userMenu="matMenu">
        <ng-container *ngFor="let user of centerAdmin">
          <button mat-menu-item (click)="setSelectedCenter(user)">
            {{ user.name }}
            <span class="user-id" *ngIf="user.id">({{ user.id }})</span>
          </button>
        </ng-container>
      </mat-menu>
      </mat-card>
    </ng-template>

    <mat-card class="users">
      <div>
        <div *ngIf="selectedCustomer">
          <h3>Usuario:</h3>
          <p>Correo: {{selectedCustomer.email}}</p>
          <p>Identificación: {{selectedCustomer.identification}}</p>
          <p>Nombre completo: {{selectedCustomer.name}}</p>
        </div>

        <button mat-menu-item [matMenuTriggerFor]="userMenu" class="btn-users">
          <mat-icon class="d-flex align-items-center">
            <i-tabler name="users" class="icon-18 d-flex"></i-tabler>
          </mat-icon>
          Usuarios
        </button>
        <mat-menu #userMenu="matMenu">
          <ng-container *ngFor="let user of customers">
            <button mat-menu-item (click)="setSelectedCustomer(user)">
              {{ user.name }}
              <span class="user-id" *ngIf="user.id">({{ user.id }})</span>
            </button>
          </ng-container>
        </mat-menu>
      </div>
    </mat-card>
</mat-card>