<!-- Intro -->

<section id="intro-section" class="home-intro-section background-div">
  <div fxlayout="row" fxlayout.lt-md="column" fxlayoutwrap="nowrap" fxlayoutgap="30px" class="hero-container">
    <div style="margin-right: 30px; flex: 1 1 100%; box-sizing: border-box; max-width: 60%;">
      <h1 class="home-intro-title">Welcome to EcoRewards</h1>
      <div class="home-intro-desc"> At EcoRewards, we believe in the importance of caring for our planet and rewarding
        ecological actions that make a
        difference. Our app offers you the opportunity to transform your simple recycling acts into meaningful rewards.
      </div>
      <div fxlayout="column" fxlayoutgap="30px" class="intro-list"
        style="flex-direction: column; box-sizing: border-box; display: flex;">

        <div fxflex="100"
          style="margin-bottom: 30px; flex: 1 1 100%; box-sizing: border-box; max-height: 100%; flex-direction: row; display: flex;">
          <mat-icon role="img" style="color: white;" class="mat-icon notranslate mat-accent material-icons"
            aria-hidden="true" data-mat-icon-type="font">check
          </mat-icon>
          <span fxflex="20px" style="flex: 1 1 20px; box-sizing: border-box; max-width: 20px; min-width: 20px;">
          </span>
          <span>
            <b>Recycle:</b>
            We encourage the recycling of materials such as paper, glass, cardboard and plastic.
          </span>
        </div>

        <div fxflex="100"
          style="margin-bottom: 30px; flex: 1 1 100%; box-sizing: border-box; max-height: 100%; flex-direction: row; display: flex;">
          <mat-icon role="img" style="color: white;" class="mat-icon notranslate mat-accent material-icons"
            aria-hidden="true" data-mat-icon-type="font">check
          </mat-icon>
          <span fxflex="20px" style="flex: 1 1 20px; box-sizing: border-box; max-width: 20px; min-width: 20px;">
          </span>
          <span>
            <b>Win:</b>
            Accumulate eco-coins and redeem organic products, coupons and more.
          </span>
        </div>

        <div fxflex="100"
          style="margin-bottom: 30px; flex: 1 1 100%; box-sizing: border-box; max-height: 100%; flex-direction: row; display: flex;">
          <mat-icon role="img" style="color: white;" class="mat-icon notranslate mat-accent material-icons"
            aria-hidden="true" data-mat-icon-type="font">check
          </mat-icon>
          <span fxflex="20px" style="flex: 1 1 20px; box-sizing: border-box; max-width: 20px; min-width: 20px;">
          </span>
          <span>

            <b>Take care:</b> Our application promotes the importance of ecology and environmental responsibility.
          </span>
        </div>

      </div>

    </div>
    <!--     <span fxflex.lt-md="30px" fxflex="0" style="margin-right: 30px; flex: 1 1 0%; box-sizing: border-box;">
    </span> -->

    <div class="intro-product">
      <img mat-card-image="" src="../../../../assets/images/EcoRewardsTransparent.svg" class="mat-card-image">
    </div>
  </div>
</section>


<!-- Materials -->

<section class="portfolio home-material-section">
  <div class="section-header">
    <h2 style="font-size: 28px;">Materials</h2>
    <p style="font-size: 20px; margin-bottom: 2rem; line-height: 1.2;">Discover the materials you can recycle and
      contribute to a more sustainable future. <br> Start recycling and earn eco-coins today! </p>
  </div>

  <div class="row">
    <div class="col-sm-6 col-lg-3" *ngFor="let material of materialData || []">
      <mat-card class="cardWithShadow material overflow-hidden">
        <!--  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->

        <img *ngIf="material?.image" [src]="material.image" alt="{{ material?.name }}">


        <mat-card-content class="p-b-24 p-t-12 position-relative">
          <mat-card-title>{{ material.name }}</mat-card-title>


          <div class="d-flex align-items-center">
            <button mat-mini-fab class="bg-light-warning text-success shadow-none icon-27">
              <i-tabler class="icon-20" name="coins" style="color:#f8c076 ;"></i-tabler>
            </button>
            <div class="mat-body-1 f-w-600 m-l-12">{{ material.price }} </div>
          </div>


          <div class="d-flex align-items-center" style="padding-top: .1rem;">
            <button mat-mini-fab class="bg-light-success text-success shadow-none icon-27">
              <i-tabler class="icon-20" name="box-seam" class="icon-20"></i-tabler>
            </button>
            <div class="mat-body-1 f-w-600 m-l-12">{{ material.unit_of_measure }} </div>
          </div>

          <mat-card-actions class="container-actions">
            <button class="card-button" mat-raised-button
              (click)="openMaterialDialog(material.materialID)"><b>Details</b>
            </button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>

<!-- Centros -->

<section class="portfolio home-material-section">
  <div class="section-header">
    <h2 style="font-size: 28px;">Recycling centers</h2>
    <p style="font-size: 20px; margin-bottom: 2rem; line-height: 1.2;">
      At EcoRewards, we connect the community with
      local collection centers that promote recycling efficiently and
      sustainable.
    </p>
  </div>

  <div class="row">
    <div class="col-sm-6 col-lg-3" *ngFor="let centro of centerData of centerData">
      <mat-card class="cardWithShadow material overflow-hidden center-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content class="p-b-24 p-t-12 position-relative">
          <mat-card-title style="min-height: 50px;">{{ centro.name }}</mat-card-title>
          <div class="d-flex align-items-center">
            <button mat-mini-fab class="bg-light-warning text-success shadow-none icon-27"
              style="display: flex; justify-content: center; align-items: center;">
              <i-tabler class="icon-20" name="map-pin-filled" style="color:#f8c076 ;"></i-tabler>
            </button>
            <div class="mat-body-1 f-w-600 m-l-12">{{ centro.Address.province }} </div>
          </div>


          <div class="d-flex align-items-center" style="padding-top: .1rem;">
            <button mat-mini-fab class="bg-light-success text-success shadow-none icon-27">
              <i-tabler name="clock-2" class="icon-20"></i-tabler>
            </button>
            <div class="mat-body-1 f-w-600 m-l-12">{{ centro.operating_hours }} </div>
          </div>

          <mat-card-actions class="container-actions">
            <button class="card-button" mat-raised-button (click)="openCenterDialog(centro.centerID)"><b>Details</b>
            </button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>


<div class="row">
  <div class="col-sm-6 col-lg-3"></div>
</div>








<!-- <section class="portfolio home-material-section">
  <div class="container">
    <div class="section-header">
      <h2 style="font-size: 28px;">Recycling centers</h2>
      <p style="font-size: 20px; margin-bottom: 2rem; line-height: 1.2;">
        En EcoRewards, conectamos a la comunidad con
        centros de acopio locales que promueven el reciclaje de manera eficiente y
        sostenible.
      </p>
    </div>
    <div fxlayout="row" fxlayout.lt-sm="column" fxlayoutwrap="nowrap" fxlayoutgap="30px"
      style="flex-direction: row; box-sizing: border-box; display: flex;  flex-wrap: wrap;">

      <div *ngFor="let centro of centerData" fxflex="29"
        style="margin-right: 30px; flex: 1 1 100%; box-sizing: border-box; max-width: 29%;">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ centro.name }}</mat-card-title>
            <mat-card-subtitle>{{ centro.Address.province }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>{{ centro.operating_hours }}</p>
            <p>{{ centro.Address.exact_address }}</p>
            <p>Phone: {{ centro.phone }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Details</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

  </div>
</section> -->