<mat-card class="box header rounded">
  <form (ngSubmit)="updateUser(userForm)" #userForm="ngForm">
    <div>
      <label for="name">Nombre:</label>
      <input
        type="text"
        id="name"
        name="name"
        [(ngModel)]="userData.name"
        required
        minlength="2"
        maxlength="50"
      />
      <!-- Validaciones para el nombre -->
    </div>
  
    <div>
      <label for="email">Correo electrónico:</label>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="userData.email"
        required
        email
      />
      <!-- Validaciones para el correo electrónico -->
    </div>
  
    <div>
      <label for="password">Contraseña:</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="userData.password"
        required
        minlength="6"
      />
      <!-- Validaciones para la contraseña -->
    </div>
  
    <div>
      <label for="identification">Identificación:</label>
      <input
        type="text"
        id="identification"
        name="identification"
        [(ngModel)]="userData.identification"
      />
      <!-- Validaciones para la identificación -->
    </div>
  
    <div>
      <label for="phone">Teléfono:</label>
      <input
        type="text"
        id="phone"
        name="phone"
        [(ngModel)]="userData.phone"
      />
      <!-- Validaciones para el teléfono -->
    </div>
  
    <div>
      <label for="status">Habilitado:</label>
      <input
        type="checkbox"
        id="status"
        name="status"
        [(ngModel)]="userData.status"
      />
      <!-- Validaciones para el estado -->
    </div>
  
    <button type="submit">Guardar</button>
  </form>
  
</mat-card>