.full-width {
  width: 100%;
}

h1 {
  font-style: roboto;
  font-weight: 500;
}

.container-actions {
  display: flex;
  justify-content: end;
  width: 100%;
  gap: 0.5rem;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.row {
  width: 50%;
}
