<mat-card style="min-height: 83vh !important;">
  <mat-card-header>
    <mat-card-title>Detalle del Canje de Materiales</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- Columna 1 -->
    <div class="columnExchange">
      <p><b>Número de Canje:</b> {{ exchangeData.exchangeID }}</p>
      <p><b>Fecha:</b> {{ exchangeData.exchange_date | date:'short' }}</p>
      <p><b>Cliente:</b> {{ exchangeData.client.name }}</p>
    </div>

    <!-- Columna 2 -->
    <div class="columnExchange">
      <p><b>Centro de Reciclaje:</b> {{ exchangeData.recycling_center.name }}</p>
      <p><b>Total Eco Coins:</b> {{ exchangeData.total_eco_coins }}</p>
    </div>
  </mat-card-content>


</mat-card>
<mat-card>
  <mat-divider></mat-divider>
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="material_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Material </mat-header-cell>
      <mat-cell *matCellDef="let detail"> {{ detail.material_name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </mat-header-cell>
      <mat-cell *matCellDef="let detail"> {{ detail.quantity }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="material_price">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Precio del Material </mat-header-cell>
      <mat-cell *matCellDef="let detail"> {{ detail.material_price }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="subtotal">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Subtotal </mat-header-cell>
      <mat-cell *matCellDef="let detail"> {{ detail.subtotal }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="eco_coins">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Eco Coins </mat-header-cell>
      <mat-cell *matCellDef="let detail"> {{ detail.eco_coins }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25]" aria-label="Seleccione una página">
  </mat-paginator>

</mat-card>