<div class="invoice" *ngIf="exchangeDetails">
  <div style="display: flex;">
    <h1>Factura # {{exchangeDetails.exchangeID}}</h1>
    <p style="text-align: right;
    margin-left: auto;
    padding-top: 20px;">Fecha: {{ exchangeDetails.exchange_date | date: 'dd/MM/yyyy' }}</p>
  </div>
  <div class="invoice-details">
    <hr>
    <div class="center-info">
      <h2>{{ exchangeDetails.recycling_center.name }}</h2>
      <p style="text-align: right;">Teléfono: {{ exchangeDetails.recycling_center.phone }}</p>
      <p style="text-align: right;">Horario: {{ exchangeDetails.recycling_center.operating_hours }}</p>
    </div>
    <div class="client-info">
      <h3 style="margin-bottom: 5px;">Cliente:</h3>
      <p>Nombre: {{ exchangeDetails.client.name }}</p>
      <p>Correo electrónico: {{ exchangeDetails.client.email }}</p>
      <p>Identificación: {{ exchangeDetails.client.identification }}</p>
    </div>
    <div class="material-details mat-elevation-z1">
      <h3>Detalles del Intercambio:</h3>
      <table mat-table [dataSource]="exchangeDetails.exchange_details">
        <ng-container matColumnDef="material">    
          <th mat-header-cell *matHeaderCellDef style="font-weight: 600;"> Material </th>
          <td mat-cell *matCellDef="let detail"> {{ detail.material_name }} </td>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef style="font-weight: 600;" > Cantidad </th>
          <td mat-cell *matCellDef="let detail"> {{ detail.quantity }} </td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef style="font-weight: 600;"> Precio por unidad</th>
          <td mat-cell *matCellDef="let detail"> {{ detail.material_price }} 🪙</td>
        </ng-container>
        <ng-container matColumnDef="subtotal">
          <th mat-header-cell *matHeaderCellDef style="font-weight: 600;"> Subtotal</th>
          <td mat-cell *matCellDef="let detail"> {{ detail.subtotal }} 🪙</td>
        </ng-container>
        <ng-container matColumnDef="ecoCoins">
          <th mat-header-cell *matHeaderCellDef style="font-weight: 600;"> ECO Coins </th>
          <td mat-cell *matCellDef="let detail"> {{ detail.eco_coins }} 🪙</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['material', 'quantity', 'price', 'subtotal', 'ecoCoins']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['material', 'quantity', 'price', 'subtotal', 'ecoCoins']; let i = index" [ngClass]="{'even-row': i % 2 === 0, 'odd-row': i % 2 !== 0}"></tr>
      </table>
    </div>
    <h3 style="text-align: right;">Total ECO Coins: {{ exchangeDetails.total_eco_coins }} 🪙</h3>
  </div>
</div>
