.material-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.header {
  background-color: #fafafa;
  color: #666666;
}
.box {
  padding: 0.2rem 2rem 2rem 2.3rem;
  box-shadow: 0 2px 6px rgba(37, 83, 185, 0.1);
}

.container-box {
  padding: 1rem;
}

.material-item {
  border: 1px solid #ccc;
  padding: 10px;
}

.material-detail {
  margin-bottom: 10px;
}

.mat-mdc-card-title {
  color: #5d5d5d !important;
}
.mat-mdc-card-subtitle {
  color: #979797 !important;
}
