<div style="width: 100%; display: flex; justify-content: end; ">
  <button class="close-button" [mat-dialog-close]="true"
    style="border: 0; background-color: white; margin: .5rem .7rem 0 0;">
    <mat-icon class="close-icon" color="primary">close</mat-icon>
  </button>
</div>

<mat-card class="dialog-card">
  <mat-card-header>
    <mat-card-title-group>

      <mat-card-title>{{datos?.name }}</mat-card-title>
      <mat-card-subtitle>{{datos?.description }}</mat-card-subtitle>

      <!-- <img style="margin-left: 2rem; border-radius: 5px;" mat-card-md-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg">
 -->
      <img [src]="datos?.image" alt="{{ datos?.image }}" style="margin-left: 2rem; border-radius: 10px;">

    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <div class="or-border m-t-30" style="padding-bottom: 1rem;">Details</div>
    <span style="display: block;">
      <b>Coins for each unit: </b> {{datos?.price}}
    </span>
    <span>
      <b>Unit of measurement: </b>
      {{datos?.unit_of_measure}}
    </span>
  </mat-card-content>
</mat-card>