<mat-card class="box header rounded" style="padding: 20px 20px 0;">
    <div style="display: flex;">
      <div style="width: 76%">
        <div style="display: grid;margin-top: 25px; ">
          <div style="display: flex;justify-content: center;">
            <mat-form-field appearance="outline" class="w-100 p-10" color="primary">
              <mat-label style="color: #111c2d">Nombre:</mat-label>
              <input matInput style="color: #111c2d" placeholder="Nombre" [value]="couponDetails?.name" disabled>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100 p-10" color="primary">
              <mat-label style="color: #111c2d">Categoría:</mat-label>
              <input matInput style="color: #111c2d" placeholder="Categoría" [value]="couponDetails?.category" disabled>
            </mat-form-field>
          </div>
          <div style="display: flex;justify-content: center;">
            <mat-form-field appearance="outline" class="w-100 p-10" color="primary">
              <mat-label style="color: #111c2d">Eco Coins Requeridos:</mat-label>
              <input matInput style="color: #111c2d" placeholder="Eco Coins Requeridos" [value]="couponDetails?.eco_coins_required" disabled>
            </mat-form-field>
          </div>
          <div style="display: flex;justify-content: center;">
            <mat-form-field appearance="outline" class="w-100 p-10" color="primary">
              <mat-label style="color: #111c2d">Fecha de inicio:</mat-label>
              <input matInput type="date" style="color: #111c2d" [value]="couponDetails?.start_validity_date | date: 'yyyy-MM-dd'" disabled>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100 p-10" color="primary">
              <mat-label style="color: #111c2d">Fecha de caducidad:</mat-label>
              <input matInput type="date" style="color: #111c2d" [value]="couponDetails?.end_validity_date | date: 'yyyy-MM-dd'" disabled>
            </mat-form-field>
          </div>
          <mat-form-field appearance="outline" class="w-100 p-10" color="primary">
            <mat-label style="color: #111c2d">Descripción:</mat-label>
            <textarea matInput style="color: #111c2d" placeholder="Descripción" [value]="couponDetails?.description" disabled></textarea>
          </mat-form-field>
        </div>
      </div>
      <div style="width: 20%;">
        <div style="display: grid;margin-top: 25px;">
          <ngx-dropzone-image-preview class="custom-dropzone-image-preview" ngProjectAs="ngx-dropzone-preview"
            *ngIf="couponDetails?.image" [file]="file" [removable]="false">
          </ngx-dropzone-image-preview>
        </div>
      </div>
    </div>
    <div style="display: flex;justify-content: center;align-items: center;">
      <mat-card-actions>
        <div class="container-actions">
          <button mat-raised-button color="primary" (click)="onBack()" style="margin-right: 8px;">Regresar</button>
        </div>
      </mat-card-actions>
    </div>
  </mat-card>
  